[![Build Status](https://travis-ci.org/reactgular/observables.svg?branch=master)](https://travis-ci.org/reactgular/observables)
[![Coverage Status](https://coveralls.io/repos/github/reactgular/observables/badge.svg?branch=master)](https://coveralls.io/github/reactgular/observables?branch=master)
[![npm version](https://badge.fury.io/js/%40reactgular%2Fobservables.svg)](https://badge.fury.io/js/%40reactgular%2Fobservables)

## What is Observables?

Observables is a small Rxjs 6 library that contains handy operators and utilities.

## Why use this rxjs library?

This library contains operators and utilities that solve some very common problems that I face with Rxjs. Here is
a quick list of features that I use most often in projects.

- `windowResize()` creates a debounced observable of window size changes.
- `withSwitchMap()` uses `switchMap()` but emits the outer and inner values.
- `enabledWhen()` only emits when another observable emits `true`.

## Installation

To get started, install the package from npm.

```bash
npm install @reactgular/observables
```

## Usage

Utility functions are imported directly from the package path `@reactgular/observables`, but operators are
imported from `@reactgular/observables/operators`.

For example;

```typescript
import {windowResize} from '@reactgular/observables';
import {distinctStringify} from '@reactgular/observables/operators';

windowResize(250).pipe(
distinctStringify()
).subscribe(v => console.log(v));
```

{{#sections}}
# {{name}}

{{description}}

Operators | Operators | Operators | Operators
-----------|-----------|-----------|-----------
{{#toc}}
{{#row}}[{{name}}](#{{name}}){{#separator}} | {{/separator}}{{/row}}
{{/toc}}

{{/sections}}

{{#sections}}
## {{name}} List

{{#features}}
### {{name}}

{{{content}}}
[[source]({{{url}}})] [[up](#{{up}})]

{{/features}}
{{/sections}}
